@import '_function.scss';
$heightIcon:10%;
$widthIcon:10%;
$iconColor:rgb(77, 208, 212);
header {
    width: 100%;
}

body {
    height: 115rem;
}

.text-header {
    color: white;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.section-about {
    @include sections();
    .card-about {
        @include sectionsChild();
    }
}

.section-work {
    @include sections();
    .card-work {
        @include sectionsChild();
    }
}

.section-curriculum {
    @include sections();
    .card-curriculum {
        @include sectionsChild();
    }
}

body {
    background: url(/public/img/background.jpg) no-repeat;
    background-attachment: fixed;
}

svg {
    color: $iconColor;
    width: $widthIcon;
    height: $heightIcon;
}