header {
  width: 100%; }

body {
  height: 111rem; }

.fixed {
  position: fixed;
  top: 0;
  width: 100%; }

.section-about {
  margin-top: 5rem;
  width: 100%;
  height: 32rem; }
  .section-about .card-about {
    width: 70%;
    background-color: rgba(245, 243, 235, 0.8);
    border-radius: 10px; }

.section-work {
  margin-top: 5rem;
  width: 100%;
  height: 32rem; }
  .section-work .card-work {
    width: 70%;
    background-color: rgba(245, 243, 235, 0.8);
    border-radius: 10px; }

.section-curriculum {
  margin-top: 5rem;
  width: 100%;
  height: 32rem; }
  .section-curriculum .card-curriculum {
    width: 70%;
    background-color: rgba(245, 243, 235, 0.8);
    border-radius: 10px; }

body {
  background: url(/public/img/background.jpg) no-repeat;
  background-attachment: fixed; }

svg {
  color: #4dd0d4;
  width: 10%;
  height: 10%; }
